/////////////// SETTINGS ////////////////
$blue: #0f2069;
$dark-blue: #0c1a55;
$darkest-blue: #001935;
$red: #e30613;
$black: #202121;
$gray: #afafaf;
$header-height: 580px;


/*///////////////// MODAL /////////////////*/
/* modal style */
html.modal-active,
body.modal-active {

}
#modal-container {
  position: fixed;
  left: 0;
  top: 0;
  display: table;
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: scale(0);
}
.modal-btn{
  display: block;
  float: none;
}
.modal-body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-score-js{
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #82BF56;
  text-shadow: 1px 1px 0px rgba(14, 64, 5, 0.73);

}
.modal-title{
  display: flex;
  justify-content: center;
  align-self: center;
}
.modal-task-title-js{
  font-weight: bold;
  margin-left: 5px;

}

#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, .8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: #fff;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;

}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}


/*
 * ------------------------------
 * Unfolding Animation
 * ------------------------------
 */
#modal-container.one {
  /*transform: scaleX(0) scaleY(1);*/
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  /* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/
  transform: scale(0);
  /* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */
  animation: zoomIn .5s .8s  cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* Dimmed showing */
@keyframes unfoldIn {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }
  50% {
    /* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대  */
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    /* 0.5 초간 세로 크기를 확대 */
    transform: scaleY(1) scaleX(1);
  }
}
/* Show modal content  */
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Hide modal content */
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/* Dimmed hiding */
@keyframes unfoldOut {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scaleX(1) scaleY(0.005);
  }
  100% {
    transform: scaleX(0) scaleY(0.005);
  }
}


/*
 * ------------------------------
 * Revealing Animation
 * ------------------------------
 */
#modal-container.two {
  transform: scale(1);
}
#modal-container.two .modal-background {
  background: transparent;
  animation: fadeIn .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two .modal-background .modal {
  /* 콘텐츠를 초기에 보여주지 않음 */
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.content.two {
  /* 콘텐츠 크기를 줄임 */
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out {
  /* 전체 모달 컨테이너를 숨김 처리(다른 애니메이션이 모두 끝난 0.5초 후에 처리하기 위해 0.5초 지연시킴 */
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.two.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.content.two.out {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* Dimmed showing */
@keyframes fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, .7);
  }
}
/* Show modal content from bottom to top */
@keyframes scaleUp {
  0% {
    /* 모달 콘텐츠를 하단에 위치시킴 */
    transform: scale(.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    /* 모달 콘텐츠를 본래 위치로 돌려놓음 */
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
/* Shrink content */
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}
/* Hide modal container*/
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* Dimmed hiding */
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, .7);
  }
  100% {
    background: transparent;
  }
}
/* modal content from top to bottom */
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(.8) translateY(1000px);
    opacity: 0;
  }
}

@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.85);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

/*
 * ------------------------------
 * Uncovering Animation
 * ------------------------------
 */
#modal-container.three {
  z-index: 0;
  transform: scale(1);
}
#modal-container.three .modal-background {
  background: rgba(0, 0, 0, .9);
}
#modal-container.three .modal-background .modal {
  animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.content.three {
  z-index: 1;
  animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.three.out .modal-background .modal {
  animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.content.three.out {
  animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* Show Modal content*/
@keyframes moveUp {
  /* 하단에서 */
  0% {
    transform: translateY(200px);
  }
  /* 중앙으로 위치 */
  100% {
    transform: translateY(0);
  }
}
/* Slide up Content */
@keyframes slideUpLarge {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* Hide Modal content */
@keyframes moveDown {
  /* 중앙에 있는 모달 콘텐츠를 */
  0% {
    transform: translateY(0);
  }
  /* 하단으로 위치 */
  100% {
    transform: translateY(200px);
  }
}
/* Slide down content */
@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/*
 * ------------------------------
 * Blow Up Animation
 * ------------------------------
 */
#modal-container.four {
  z-index: 0;
  transform: scale(1);
}
#modal-container.four .modal-background {
  background: rgba(0, 0, 0, 0.9);
}
#modal-container.four .modal-background .modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.content.four {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.four.out .modal-background .modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.content.four.out {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* Show modal content */
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Hide content */
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  /* 원본 크기에서 2배로 커지면서 투명도를 서서히 낮춤 */
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  /* 마지막에 숨김 처리 */
  100% {
    transform: scale(0);
  }
}
/* Hide modal content */
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/* Show content */
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*
 * ------------------------------
 * Meep Meep Animation
 * ------------------------------
 */
#modal-container.five {
  transform: scale(1);
}
#modal-container.five .modal-background {
  background: transparent;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five .modal-background .modal {
  transform: translateX(-1500px);
  animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out {
  animation: quickScaleDown 0s .5s linear forwards;
}
#modal-container.five.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.five.out .modal-background .modal {
  animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* 모달 콘텐츠 반동 효과로 나타나기 */
@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(50px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
/* 모달 콘텐츠 반동 효과로 숨기기 */
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-100px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}

/*
 * ------------------------------
 * James Bond Animation
 * ------------------------------
 */
#modal-container.six {
  transform: scale(1);
}
#modal-container.six .modal-background {
  background: transparent;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal {
  /* 초기 모달 콘텐츠 크기 및 라운드 정의 */
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  animation: JamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal h2,
#modal-container.six .modal-background .modal p {
  /* 콘텐츠 내용 숨김 */
  opacity: 0;
  position: relative;
  /* 원형 모달이 본래 모양을 완성된 후 1.4 지연후에 보여줌 */
  animation: modalContentFadeIn .5s 1.4s linear forwards;
}
#modal-container.six.out {
  animation: slowFade .5s 1.5s linear forwards;
}
#modal-container.six.out .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
  border-radius: 3px;
  height: 162px;
  width: 227px;
  animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2,
#modal-container.six.out .modal-background .modal p {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
/* Show modal content : round shape */
@keyframes JamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
  90% {
    border-radius: 3px;
    width: 340px;
    height: 240px;
  }
  100% {
    border-radius: 3px;
    width: 300px;
    height: 200px;
  }
}
/* 모달 콘텐츠 내의 요소 효과 처리 */
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/* 전체 모달 컨테이너 숨김처리 */
@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* 박스 그림자를 이용한 효과 */
@keyframes fadeToRed {
  0% {
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
  }
  100% {
    /* y 축 박스 그림자를 위에서부터 아래로 내리는 효과 */
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
  }
}
/* 모달 콘텐츠 비스듬히 하단으로 떨어뜨림 */
@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(400px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

.wpcf7-response-output{
  display: none !important;
}

.extra-small-text {
  font-size: 14px;
}

.small-text {
  font-size: 16px;
}

.middle-text {
  font-size: 18px;
}

.sub-title-text {
  font-size: 22px;
}

.title-text {
  font-size: 30px;
}

.ta-c {
  text-align: center;
}

.bold {
  font-weight: bold;
}

body {
  color: $black;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

a:hover, a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

%skew45 {
  transform: skewX(-45deg);
  margin-left: -1px;
  > div {
    transform: skewX(45deg);
  }
}

.triangles {
  display: flex;
  height: 100px;
  width: 110%;
  margin-top: -50px;
  margin-left: -60px;

  .triangle-left {
    width: 40%;
    background: white;
    transform: rotate(4deg);
  }
  .triangle-right {
    width: 60%;
    background: white;
    transform: rotate(-3deg);
    margin-top: -3px;
    margin-left: -10px;
  }
}

.triangles-top {
  display: flex;
  height: 100px;
  width: 110%;
  margin-top: -50px;
  margin-left: -60px;

  .triangle-left {
    width: 40%;
    background: white;
    transform: rotate(5deg);
  }
  .triangle-right {
    width: 60%;
    background: white;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-bottom: -2px;
    margin-left: -10px;
  }
}

.invert-triangles {
  display: flex;
  height: 100px;
  width: 110%;
  margin-top: -50px;
  margin-left: -60px;

  .triangle-left {
    width: 40%;
    background: white;
    transform: rotate(5deg);
  }
  .triangle-right {
    width: 60%;
    background: white;
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-top: 2px;
    margin-left: -10px;
  }
}

.b-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
}

.logo {
  img {
    width: 95%;
  }
}

.b-header-skew {
  @extend %skew45;

  i {
    margin-right: 10px;
  }
}

.b-address {
  background: $blue;

  .address {
    transform: skewX(45deg);
  }
}

.b-phone {
  background: $dark-blue;

  .phone {
    transform: skewX(45deg);
    a {
      color: white;
    }
    span {
      font-weight: 700;
    }
  }
}

.b-email {
  background: $darkest-blue;

  .email {
    transform: skewX(45deg);
  }
}

header {
  position: relative;
}

.background_header {
  height: $header-height;
}

.shadow {
  background: #31499f4a;
  position: absolute;
  top: 0;
  left: 0;
  height: $header-height;
  width: 100%;
  z-index: 0;

}

.header-menu {
  position: relative;
  z-index: 10;
}

.header-text {
  position: absolute;
  bottom: 200px;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  width: 700px;
  font-weight: 700;

}

header .menu-main-menu-container ul {
  padding: 0;
  display: flex;
  list-style: none;
  margin-left: -66px;
  li {
    padding: 0 15px;
    text-transform: uppercase;
    a {
      color: white;
      font-weight: bold;
    }
  }
  li.active {
    transform: skewX(-45deg);
    background: $blue;
    a {

      display: block;
      transform: skewX(45deg);
    }
  }
}

.about-us-photo {
  height: 300px;
  text-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}

.b-event-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.b-event {
  background: transparent;
  height: 250px;
  transform: skewX(-40deg);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.b-event-background {
  height: 100%;
  width: 135%;
  margin-left: -110px;
  background-size: 100%;
  transform: skewX(40deg);
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  z-index: 10;
  display: flex;
  justify-content: center;
  text-indent: -9999px;
  margin-bottom: 0;
  cursor: pointer;
  li {
    width: 15px;
    height: 15px;
    background: #afaca5;
    border-radius: 50%;
    margin: 5px;
    transform: scale(0.8);
    transition: 0.5s;
    opacity: 0.7;
  }
  li.slick-active {
    transform: scale(1);
    transform: translateY(-5px);
    transition: 0.5s;
    opacity: 1;
  }
}

.b-behind-event {
  height: 200px;
  width: 400px;
  background: red;
  position: absolute;
  top: 1px;
  left: 80px;
  transform: skewX(38deg);
  z-index: 1;
}

.b-event-text {
  position: absolute;
  bottom: 20px;
  left: 100px;
  z-index: 10;
  transform: skewX(40deg);
  font-weight: 700;
  .sale {
    font-size: 40px;
    text-transform: uppercase;
    color: $blue;
    span {
      color: $red;
    }
    p {
      color: $black;
      text-transform: none;
      font-size: 30px;
    }
  }
}

.b-event-link {
  position: absolute;
  bottom: 20px;
  right: 40px;
  transform: skewX(40deg);
  a {
    color: $red;
    border-bottom: 1px solid $red;
  }
  a:hover {
    color: $red;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

}

.statement-btn {
  display: inline-block;
  transform: rotate(-90deg);
  position: absolute;
  right: 0;
  top: 280px;
  a {
    color: white;
    background: $red;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    transform: rotateY(90deg);
  }
  a:hover {
    color: white;
  }
}

#services {
  margin-top: -50px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.service-block {
  height: 180px;
  width: 180px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 25px;
  transition: 0.5s;


}

.service-block:hover{
  transform: translateY(-5px);

}
.service-block:hover .b-service-img{
  background: $darkest-blue;
  transition: 1s background ease-out;
}

.service-container {
  display: table;
  margin-left: auto;
  margin-right: auto;

}

.services-container {
  margin-top: 30px;
  a:hover, a:focus{
    text-decoration: none;
  }
}

.b-service-title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 85%;
  color: $dark-blue;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-service-img {
  padding: 30px;
  height: 80%;
  background: #0f2069;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s background ease-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

.mail-title {
  z-index: 100;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.slider-mail-container {
  width: 90%;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

.slick-prev {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  bottom: 0;
  margin: auto 0;
  height: 80px;
  width: 80px;
  text-indent: -9999px;
  background: url('../img/angle-left.svg') no-repeat center center;
  background-size: contain;
  border: 0;
  background-color: transparent;
  outline: none;
  z-index: 100;
  transition: 0.5s;
  opacity: 0.7;
}

.slick-prev:hover {
  opacity: 1;
  transition: 0.5s;
}

.slick-next {
  outline: none;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
  bottom: 0;
  margin: auto 0;
  height: 80px;
  width: 80px;
  text-indent: -9999px;
  background: url('../img/angle-right.svg') no-repeat center center;
  background-size: contain;
  border: 0;
  background-color: transparent;
  z-index: 100;
  transition: 0.5s;
  opacity: 0.7;
}

.slick-next:hover {
  transition: 0.5s;
  opacity: 1;
}

.slick-slide {
  transform: scale(0.7);
  transition: 0.5s;
  margin: 10px;
}

.slick-slide {
  position: relative;
  z-index: 100;
}

.b-event-container {
  z-index: 100;
}

*:focus {
  outline: none !important;
}

//.slick-current + div{
//  transform: scale(1);
//  transition: 0.5s;
//}
.slick-center {
  transform: scale(1);
  transition: 0.5s;
}

.multiple-items {
  margin: 0 30px;
  height: 100%;
}

.b-service-title {
  height: 20%;
}

.services-title {
  color: white;
  text-align: center;
}

#map {
  position: relative;
  height: 520px;
}

.b-map-info {
  position: absolute;
  top: 100px;
  padding: 60px 40px;
  background: white;
  box-shadow: 4px 4px 9px 0px #5a5a5a8a;
  z-index: 10;
  i {
    color: red;
    margin-right: 10px;
    font-size: 16px;
  }
  .title {
    text-transform: uppercase;
    font-weight: 700;

  }
  .address {
    margin-top: 10px;
  }
  .phones {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .phone-numbers a {
      color: $black;
    }
  }
  .mail {
    margin-top: 10px;
  }
  .call-me-btn {
    background-color: $red;
    border: 0;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 40px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $red 0 0 15px 0px;
    transition: 0.5s;
  }
  .call-me-btn:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: $red 0 0 30px 0px;
  }
  .red-triangle {
    height: 0px;
    width: 0px;
    position: absolute;
    top: -50px;
    left: 0;
    border: 25px solid transparent;
    border-bottom: 25px solid $red;
    border-right: 25px solid $red;
    z-index: 0;
  }
}

#form {
  padding-top: 150px;
  padding-bottom: 90px;
}

$form-width: 500px;
.b-form {
  position: relative;
  background: $dark-blue;
  width: $form-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 45px;
  font-weight: 700;
  .top-border {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 300px $form-width;
    border-color: transparent transparent $dark-blue transparent;
    position: absolute;
    top: -300px;
    left: 0;
  }
  .bottom-border {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: $form-width/2;
    border-right-width: $form-width/2;
    border-top: 70px solid $dark-blue;
    position: absolute;
    bottom: -70px;
    left: 0;
  }
  .title {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    span {
      color: $red;
    }
  }
  label {
    color: white;
    margin-bottom: 0;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }
  input, textarea {
    background: #18347d;
    border: 0;
    width: 100%;
    padding: 8px 5px;
    color: white;
    outline: none;
    resize: none;
  }
  textarea {
    height: 160px;
  }

  .form-checkbox {
    display: flex;
    align-items: center;

    margin-top: 20px;
    input {
      width: 15%;
    }
    a {
      color: $red;
      border-bottom: 1px solid $red;
    }
    p {
      color: white;
      display: inline-block;
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  .submit {
    background: $red;
    width: auto;
    padding: 10px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: 0.5s;
  }
  .submit:hover {
    transition: 0.5s;
    background: #c5020e;
  }
}

footer {
  background: $dark-blue;
  padding: 15px;
  padding-top: 0;
  position: relative;
}

.footer-triangles {
  position: absolute;
  top: -40px;
  left: 50%;
  display: flex;
  height: 90px;
  width: 110%;
  transform: translateX(-50%);

  .triangle-left {
    width: 50%;
    background: $dark-blue;
    transform: rotate(5deg);

  }
  .triangle-right {
    width: 50%;
    background: $dark-blue;
    transform: rotate(-5deg);

  }
}

.footer-logo {
  img {
    width: 350px;
  }
}

.policy {
  padding-left: 30px;
  padding-top: 5px;
  a {
    color: $gray;
  }
  a:hover {
    color: $gray;
    border-color: $gray;
  }
}

.asmart {
  margin-top: 20px;
  a {
    color: $gray;
  }
  a:hover {
    color: $gray;
    border-color: $gray;
  }
  span {
    color: #99c942;
    font-weight: 700;
  }
}

footer .menu-main-menu-container {
  padding-top: 25px;
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  li {
    font-size: 16px;

  }
  a {
    color: white;
  }
}

#single-service {
  padding-bottom: 100px;
  .service-container {
    margin-top: -45px;
    .title {
      color: $red;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      z-index: 100;
      text-align: center;
      margin-bottom: 20px;
      .line {
        height: 3px;
        background: #e30613;
        width: 67px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transform: skewX(-45deg);
      }
    }
    .description {
      background: #eef1fe;
      border-left: 15px solid #0c1a55;
      padding: 10px;
    }
  }
}

.our-work-title {
  color: #bebebe;
  text-align: center;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.our-works-margin {
  margin: 10px 0;
}

.our-works-container {
  a {
    display: block;
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.gallery-items {
  position: relative;
  overflow: hidden;
}

.gallery-items:hover .hidden-hover {
  transform: translateX(0);
  transition: 0.5s;
}

.hidden-hover {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  border-left: 10px solid #0c1a55;
  background: #00000063;
  transition: 0.5s;
  transform: translateX(-100%);
}

.links-container {
  padding: 10px;
  padding-bottom: 10px;
  border: 1px dashed $dark-blue;
}

.link{
  margin-bottom: 10px;
}

.about-us-photo{
  height: 495px;
  padding-top: 10px;
  padding-left: 30px;
}


@media (max-width: 1199px) {

  .extra-small-text {
    font-size: 13px;
  }

  .small-text {
    font-size: 15px;
  }

  .middle-text {
    font-size: 16px;
  }

  .sub-title-text {
    font-size: 20px;
  }

  .title-text {
    font-size: 28px;
  }

  .b-phone {
    padding-left: 5px !important;
    font-size: 13px;
  }

  .statement-btn {
    right: -100px;
  }

  #thanks-mails .slick-slide {
    transform: scale(0.70);
    margin: 20px;
  }
  #thanks-mails .slick-center {
    transform: scale(1);
  }
  .slider-mail-container {
    height: 300px;
  }
}

@media (max-width: 992px) {

  .extra-small-text {
    font-size: 13px;
  }

  .small-text {
    font-size: 14px;
  }

  .middle-text {
    font-size: 15px;
  }

  .sub-title-text {
    font-size: 18px;
  }

  .title-text {
    font-size: 24px;
  }

  .b-phone {
    padding-left: 5px !important;
    font-size: 13px;
  }

  .about-us-text-container {
    margin-top: -50px;
    text-align: center;
  }
  .b-event {
    width: 100%;
  }
  .b-behind-event {
    left: -15px;
  }

  #thanks-mails .slick-slide {
    transform: scale(1);
    margin: 20px;
    height: 350px !important;
  }
  .slider-mail-container {
    height: auto;
  }
  .thanks-mail-container {
    margin-top: -50px;
  }

  .about-us-photo {
    margin-top: 15px;
  }
  .b-behind-event {
    display: none;
  }
  .b-event,
  .b-event-background,
  .b-event-text,
  .b-event-link {
    transform: skewX(0deg);
  }

  .service-block {
    height: 200px;
    width: 240px;
    margin-bottom: 40px;
  }
  .b-service-img {
    padding: 40px;
  }

  .b-map-info {
    padding: 40px 25px;
  }

  #form {
    padding-top: 150px;
    padding-bottom: 120px;
  }

  .triangles-top {
    position: relative;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    .triangle-left {
      margin-right: -5px;
      width: 50%;
      background: white;
      transform: rotate(4deg);
    }
    .triangle-right {
      width: 50%;
      background: white;
      transform: rotate(-4deg);
      margin-bottom: 0;
      margin-left: -5px;
    }
  }

  .triangles {
    position: relative;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    .triangle-left {
      margin-right: -5px;
      width: 50%;
      background: white;
      transform: rotate(4deg);
      margin-top: 0;
    }
    .triangle-right {
      width: 50%;
      background: white;
      transform: rotate(-4deg);
      margin-bottom: 0;
      margin-left: -5px;
      margin-top: 0;
    }
  }

  .invert-triangles {
    position: relative;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    .triangle-left {
      margin-right: -5px;
      width: 50%;
      background: white;
      transform: rotate(4deg);
      margin-top: 0;
    }
    .triangle-right {
      width: 50%;
      background: white;
      transform: rotate(-4deg);
      margin-bottom: 0;
      margin-left: -5px;
      margin-top: 0;
    }
  }

  .b-event-container {
    margin-top: 10px;
    margin-bottom: 10px;
    .slick-slide {
      transform: scale(0.8);
    }
  }
  .b-event-text {
    left: 70px;
    z-index: 10;
  }

  .footer-logo,
  .policy,
  .asmart {
    text-align: center;
  }

  footer .menu-main-menu-container ul {
    padding: 0 80px;
  }
  .about-us-photo {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  .about-us-text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }


  .b-header-skew{
    transform: skewX(0deg);
    div{
      transform: skewX(0deg) !important;
    }
  }

  header .menu-main-menu-container ul{
    margin-left: -15px;
  }
  header .menu-main-menu-container ul li.active{
    transform: skewX(0deg);
    a{
      transform: skewX(0deg);
    }
  }
  .statement-btn {
    display: block;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    text-align: center;
    left: 0;
    margin: 0 auto;
    top: auto;
    bottom: 100px;
  }
  .b-address{
    text-align: center;
  }

  .description{
    margin-bottom: 15px;
  }
  .mobile-reverse{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .links-container{
    margin-bottom: 15px;
  }
  .our-works-container a {
    height: 250px;
  }
  #menu-main-menu{
    display: flex;
    justify-content: center;
    li{
      padding-top: 5px;
      padding-bottom: 5px;
    }

  }
}

@media (max-width: 768px) {
  .triangles,.triangles-top, .invert-triangles{
    display: none;
  }
  .about-us-text-container {
    margin-top: 15px;
  }
  .thanks-mail-container {
    margin-top: 15px;
  }
  .form-checkbox input{
    margin-right: 10px !important;
  }
  #services {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #event{
    display: none;
  }
  .menu-main-menu-container,.header-text{
    display: none;
  }
  #map {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    .b-map-info{
      position: relative;
      top: 0;
      border:1px solid #80808026;
      margin-bottom: 20px;
      .title{
        text-align: center;
      }
    }
    .red-triangle{
      display: none;
    }

  }



  #form {
    padding-top: 70px;
  }

  .b-form {
    width:auto;
    .top-border {
      display: none;
    }
    .bottom-border{
      display: none;
    }
  }

  .our-works-container a {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
  }
  .hidden-hover{
    display: none;
  }

  .gallery-items a:hover{
    transition: 0.5s;
    opacity: 0.8;
  }
  .footer-logo{
    margin-top: 10px;
     img{
       width: 100%;
       max-width: 400px;
     }
  }
  .footer-triangles{
    display: none;
  }
  #form {
    padding-bottom: 50px;
  }

  footer .menu-main-menu-container{
    display: block;

  }
  footer .menu-main-menu-container ul{
    flex-wrap: wrap;
    justify-content: center;
    li{
      margin-right: 10px;
    }
  }
  #single-service .service-container {
    margin-top: 20px;
  }

  #single-service {
    padding-bottom: 40px;
  }


}

@media (max-width: 550px) {
  .slider-mail-container {
    .slick-prev {
      bottom: -50px;
      top: auto;
      left: 50px;
    }
    .slick-next {
      top: auto;
      bottom: -50px;
      right: 50px;
    }
  }
  .slider-mail-container {
    margin-bottom: 70px;
  }
}

@media (max-width: 400px) {
.b-form {

  padding: 25px 20px;
}

}
